{% extends 'blog/base.html' %}

{% block title %}My blog{% endblock %}

{% block content %}
    <h1></h1>

    {# Фильтрация по тегам #}
    {% if tag != none %}
        <h1>Post tagged with {{ tag.name }}</h1>
    {% endif %}


    {# Отображение постов #}
    {% for post in posts %}
        <h2>
            {# get_absolute_url Функция из models класса Post для загрущки функции post_detail  из views #}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
        {# truncatechars:30 Обрезка до 30 символов #}
        <p>{{ post.body|truncatechars:30 }}</p>

        {# Реализация блока фильтрации по тегам с тегами #}
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list' tag.slug %}">
                {{ tag.name }}
            </a>
        {% endfor %}
    {% endfor %}


    {# подключаем блок пагинации #}
    {% include 'pagination.html' with page=posts %}
{% endblock %}